{% extends "common/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="{% url 'account' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-xs-2" for="username">User ID</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="username" name="username" value="{{ username}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="id-association-select">소속</label>
        <div class="col-xs-10">
        <select class="form-control" id="id-association-select" onchange="association_selected(this.value)">
            <option disabled selected value> --선택-- </option>
            <option value="훈련생">훈련생</option>
            <option value="아마추어">아마추어</option>
            <option value="KLPGA 투어 프로">KLPGA 투어 프로</option>
            <option value="KLPGA 프로">KLPGA 프로</option>
            <option value="KPGA 투어 프로">KPGA 투어 프로</option>
            <option value="KPGA 프로">KPGA 프로</option>
            <option value="">기타 (직접 입력)</option>
        </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
        <input type="text" class="form-control" id="id-association-text" name="association" value="{{association}}"required>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="full_name">이름</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="full_name" name="full_name" value="{{full_name}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="sex">성별</label>
        <div class="col-xs-10">
            <input type="text" class="form-control" id="sex" name="sex" value="{{sex}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="email">이메일</label>
        <div class="col-xs-10">
            {% if email%}
            <input type="email" class="form-control" id="email" name="email" value="{{email}}">
            {%else%}
            <input type="email" class="form-control" id="email" name="email">
            {%endif%}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="birth">생일</label>
        <div class="col-xs-10">
            {%if birth%}
            <input type="text" class="form-control" maxlength="8" onkeyup="birth_typed(this.value)" id="birth" name="birth" value="{{birth}}">
            <p>YYYYMMDD 형식으로 입력해주세요. (ex: 19800101)</p>
            {%else%}
            <input type="text" class="form-control" maxlength="8" onkeyup="birth_typed(this.value)" id="birth" name="birth" placeholder="YYYYMMDD 형식으로 입력해주세요. (ex: 19800101)">
            {%endif%}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2" for="phone_number">전화번호</label>
        <div class="col-xs-10">
            {%if phone_number%}
            <input type="tel" class="form-control" maxlength="12" onkeyup="phone_number_typed(this.value)" id="phone_number" name="phone_number" value="{{ phone_number}}">
            <p>- 없이 숫자만 입력해주세요. (ex: 01012345678)</p>
            {%else%}
            <input type="tel" class="form-control" maxlength="12" onkeyup="phone_number_typed(this.value)" id="phone_number" name="phone_number" placeholder="- 없이 숫자만 입력해주세요. (ex: 01012345678)">
            {%endif%}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2 col-xs-offset-2 col-xs-6">
            <button type="button" class="btn btn-default btn-block" id="change_pw_btn" onclick="change_pw_click();">Change password</button>
        </div>
    </div>
    <div class="form-group" id="fg_current_pw" style="display: none;">
        <label class="control-label col-xs-2" for="current_pw">Current password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="current_pw" name="current_pw">
        </div>
    </div>
    <div class="form-group" id="fg_new_pw_1" style="display: none;">
        <label class="control-label col-xs-2" for="new_pw1">New password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="new_pw_1" name="new_pw_1">
        </div>
    </div>
    <div class="form-group" id="fg_new_pw_2" style="display: none;">
        <label class="control-label col-xs-2" for="new_pw2">Password confirmation</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="new_pw_2" name="new_pw_2">
        </div>
    </div>
    {% if error %}
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <p class="bg-danger">{{ message }}</p>
        </div>
    </div>
    {% else %}
        {% if message %}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10">
                <p class="bg-danger">{{ message }}</p>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2 col-xs-offset-2 col-xs-6">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function association_selected(value) {
        var association_text = $("#id-association-text");
        association_text.val(value);
    }
    function birth_typed(value) {
        var parsed_int = parseInt(value, 10);
        console.log("value: " + value + " parsed: " + parsed_int);
        if (value != parsed_int) {
            if (isNaN(parsed_int)) {
                parsed_int = "";
            }
            $("#birth").val(parsed_int);
        }
    }
    function phone_number_typed(value) {
        var parsed_int = parseInt(value, 10);
        if (value != parsed_int) {
            if (isNaN(parsed_int)) {
                parsed_int = "";
            }
            $("#phone_number").val(parsed_int);
        }
    }
    function change_pw_click() {
        $("#current_pw").val("");
        $("#fg_current_pw").toggle();
        $("#new_pw_1").val("");
        $("#fg_new_pw_1").toggle();
        $("#new_pw_2").val("");
        $("#fg_new_pw_2").toggle();
    }
</script>
{% endblock %}