{% extends "common/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="tab-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title text-center">FSS (몰입 상태 척도)</h5>
            </div>
            <form action="{% url 'g4_fss_submit' %}" method="post" id="form">
                {% csrf_token %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-3 col-xs-5">
                            <p style="">Date</p>
                        </div>
                        <div class="col-sm-9 col-xs-7">
                            <div style="position:relative;"><input type='text' required="true" name='date' class="form-control"/></div>
                        </div>
                    </div>
                </li>
                <ul class="list-group">
                    <li class="list-group-item">
                        <br>
                        <div class="well">
                            <ul>
                                {% for answer_label in answer_labels %}
                                <li>{{ answer_label }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <table class="table table-bordered" align="center">
                            <tr>
                                <td align="center">#</td>
                                <td align="center">문항 내용</td>
                                {% for label in answer_labels %}
                                <td align="center">{{ forloop.counter }}</td>
                                {% endfor %}
                            </tr>
                            {% for question_label in question_labels %}
                            <tr>
                                <td align="center">{{ forloop.counter }}</td>
                                <td align="left">{{ question_label }}</td>
                                {% for answer_choice in answer_choices %}
                                <td align="center">
                                    <label class="btn btn-default">
                                        <input type="radio" required="true" name="score_{{ forloop.parentloop.counter }}"
                                               value="{{ answer_choice }}"/>
                                            <span class="hidden-xs">{{ answer_choice }}</span>
                                    </label>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </li>

                    <li class="list-group-item" id="fss_submit">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item" id="submit_success_label">
                        <div class="row">
                            <label class="col-xs-12" text-center>
                                Submit Success!
                            </label>
                        </div>
                    </li>
                </ul>
            </form>
            <textarea id="load_data" style="display:none">{{score}}</textarea>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            {# $('input[value="1"]').attr("checked", true); #}
            $('#submit_success_label').hide();
            if($('#load_data').val()){
                var score_list= jQuery.parseJSON($('#load_data').val());
                console.log(Object.keys(score_list).length);
                for(i=1; i<Object.keys(score_list).length;i++){
                    var target = 'input:radio[name="score_'+i+'"][value="' + score_list[i] + '"]';
                    $(target).prop('checked',true);

                }
            }
        })
        $('#form').submit(function(event){
            event.preventDefault()
            console.log("form submitted!")
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(json) {
                    $('#fss_submit').hide()
                    console.log(json)
                    $('#submit_success_label').show()
                    console.log("success")
                },
                error: function(xhr, errmsg, err) {
                    $('#submit_success_label').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>")
                    console.log(xhr.status + ": " + xhr.responseText)
                }
            });
        });
         $(function () {
            $('input[name="date"]').datetimepicker({
                format: 'YYYY-MM-DD',
                showTodayButton: true,
                showClose: true
            });
        });
        $('input[name="date"]').on("dp.change",function(dateText){
            $(this).val(dateText.date.format('YYYY-MM-DD'));
          });
    </script>
{% endblock %}