{% extends "common/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>G3 Profile</h3>
    </div>

    <!--Member Information-->
    <div class="panel panel-default">
        <div class="panel-heading"><h4><b>Student Information</b></h4></div>
        <table class="table table-bordered">
            <thead class="thead">
            <tr>
                <th><div align="center">이름</div></th>
                <th><div align="center">성별</div></th>
                <th><div align="center">생년월일</div></th>
                <th><div align="center">핸디캡</div></th>
                <th><div align="center">소속</div></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><div align="center">{{ member_info.name }}</div></td>
                <td><div align="center">{{ member_info.sex }}</div></td>
                <td><div align="center">{{ member_info.birth }}</div></td>
                <td><div align="center">{{ member_info.handicap|floatformat:2 }}</div></td>
                <td><div align="center">{{ member_info.association }}</div></td>
            </tr>
        </table>
    </div>
    <div class="panel panel_default">
        <div class="panel-body">
            <table class="table table-bordered table-striped" style="table-layout:fixed; word-break:break-all;">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 30%;">Point</th>
                        <th class="text-center" style="width: 50%;">Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">5</td>
                        <td class="text-center">Top Tour (Better than most)</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="text-center">Tournament Level</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="text-center">Competitive Level</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="text-center">Weekly Level</td>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="text-center">Recreational Level</td>
                    </tr>
                    <tr>
                        <td class="text-center">0</td>
                        <td class="text-center">Beginning Level</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h4>1. Power Game</h4>
    <h5 style="margin-left: 20px">Baseline level은 최초 3번의 테스트에서 얻은 평균점수로 계산한다.</h5>
    <h5 style="margin-left: 20px">Current level은 최근 3번의 테스트에서 얻은 평균점수로 계산한다.</h5>
    <table class="table table-bordered">
        <thead class="thead">
        <tr>
            <th><div align="center">Shot Challenge</div></th>
            <th><div align="center">Baseline Level</div></th>
            <th><div align="center">Current Level</div></th>
        </tr>
        </thead>
        <tbody>
        <!--p0t0-->
        {% for row_title in row_titles.p0t0 %}
            <tr>
                <td><div align="center">{{ row_title }}</div></td>
                <td><div id="p0t0_prev_level_{{ forloop.counter0 }}" align="center"></div></td>
                <td><div id="p0t0_curr_level_{{ forloop.counter0 }}" align="center"></div></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><canvas id="p0t0_chart" height="240"></canvas></td>
        </tr>
    </table>

    <!--comment 0-->
    <div class="row">
        <div class="col-xs-2" align="center">코멘트</div>
        <div class="col-xs-10">
            {% if is_admin %}
                <textarea id="p0_comment" class="form-control" rows="5"></textarea>
            {% else %}
                <div class="well well-sm" id="p0_comment" align="justify"></div>
            {% endif %}
        </div>
    </div>
    {% if is_admin %}
        <br>
        <div class="row">
            <div class="col-xs-12" align="right">
                <button type="button" class="btn btn-primary" value=0>저장하기</button>
            </div>
        </div>
    {% endif %}

    <hr>

    <h4>2. Scoring Game</h4>
    <h5 style="margin-left: 20px">Baseline level은 최초 3번의 테스트에서 얻은 평균점수로 계산한다.</h5>
    <h5 style="margin-left: 20px">Current level은 최근 3번의 테스트에서 얻은 평균점수로 계산한다.</h5>
    <table class="table table-bordered">
        <thead class="thead">
        <tr>
            <th><div align="center">Scoring Game & Test</div></th>
            <th><div align="center">Baseline Level</div></th>
            <th><div align="center">Current Level</div></th>
        </tr>
        </thead>
        <tbody>
        <!--p1t0-->
        {% for row_title in row_titles.p1t0 %}
            <tr>
                <td><div align="center">{{ row_title }}</div></td>
                <td><div id="p1t0_prev_level_{{ forloop.counter0 }}" align="center"></div></td>
                <td><div id="p1t0_curr_level_{{ forloop.counter0 }}" align="center"></div></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><canvas id="p1t0_chart" height="240"></canvas></td>
        </tr>
        <!--p1t1-->
        {% for row_title in row_titles.p1t1 %}
            <tr>
                <td><div align="center">{{ row_title }}</div></td>
                <td><div id="p1t1_prev_level_{{ forloop.counter0 }}" align="center"></div></td>
                <td><div id="p1t1_curr_level_{{ forloop.counter0 }}" align="center"></div></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><canvas id="p1t1_chart" height="240"></canvas></td>
        </tr>
        <!--p1t2-->
        {% for row_title in row_titles.p1t2 %}
            <tr>
                <td><div align="center">{{ row_title }}</div></td>
                <td><div id="p1t2_prev_level_{{ forloop.counter0 }}" align="center"></div></td>
                <td><div id="p1t2_curr_level_{{ forloop.counter0 }}" align="center"></div></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><canvas id="p1t2_chart" height="240"></canvas></td>
        </tr>
    </table>

    <!--comment 1-->
    <div class="row">
        <div class="col-xs-2" align="center">코멘트</div>
        <div class="col-xs-10">
            {% if is_admin %}
                <textarea id="p1_comment" class="form-control" rows="5"></textarea>
            {% else %}
                <div class="well well-sm" id="p1_comment" align="justify"></div>
            {% endif %}
        </div>
    </div>
    {% if is_admin %}
        <br>
        <div class="row">
            <div class="col-xs-12" align="right">
                <button type="button" class="btn btn-primary" value=1>저장하기</button>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript">
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.maintainAspectRatio = false;

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(function() { $.ajaxSetup({headers: {"X-CSRFToken": getCookie("csrftoken")}}); });

        <!-- For IE compatibility -->
        if (Number.MAX_SAFE_INTEGER === undefined) {
            Number.MAX_SAFE_INTEGER = 9007199254740991;
        }

        if (Number.MIN_SAFE_INTEGER === undefined) {
            Number.MIN_SAFE_INTEGER = -9007199254740991;
        }

        <!--red, blue, orange, green-->
        var solidColors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(75, 192, 192, 1)',
        ]
        <!--red, blue, orange, green-->
        var transparentColors = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(75, 192, 192, 0.2)',
        ]
        var pointStyles = [
            'circle',
            'triangle',
            'rect',
            'star',
        ]

        function drawLineChart(ctx, x_lists, y_lists, ds_labels) {
            datasets = [];
            <!--li: list index-->
            for (var li = 0; li < ds_labels.length; ++li) {
                x_list = x_lists[li];
                y_list = y_lists[li];
                if (x_list.length <= 0 || y_list.length <= 0) {
                    continue;
                }
                <!--new dataset-->
                new_ds = {
                    label: ds_labels[li],
                    data: [],
                    fill: false,
                    borderWidth: 2,
                    pointStyle: pointStyles[li],
                    pointRadius: 8,
                    pointHoverRadius: 10,
                    backgroundColor: transparentColors[li],
                    borderColor: solidColors[li],
                    pointBorderColor: solidColors[li],
                    lineTension: 0.1,
                    borderDash: [3, 3],
                };
                <!--ei: eliment index-->
                for (var ei = 0; ei < x_list.length; ++ei) {
                    new_ds['data'].push({x: x_list[ei], y: y_list[ei]});
                }
                datasets.push(new_ds);
            }
            config = {
                type: 'line',
                data: {
                    datasets: datasets
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'month',
                                displayFormats: {
                                    month: 'YYYY-MM'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 5,
                                stepSize: 1
                            }
                        }]
                    },
                }
            }
            var chart = new Chart(ctx, config);
        }

        $(function() {
            $.ajax({
                url: "{% url 'g3_profile' %}",
                type: "POST",
                data: {"target_user_id": "{{ target_user_id }}"},
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    <!--Fill in the tables-->
                    for (var pi = 0; pi < data.num_parts; ++pi) {
                        <!--console.log("#p" + pi + "_comment: " + data.comments[pi]);-->
                        if (data.is_admin) {
                            $("#p" + pi + "_comment").val(data.comments[pi]);
                        }
                        else {
                            $("#p" + pi + "_comment").html(data.comments[pi]);
                        }
                        for (var ti = 0; ti < data.num_tables[pi]; ++ti) {
                            no_history = true;
                            var num_rows = data.prev_levels[pi][ti].length;
                            for (var ri = 0; ri < num_rows; ++ri) {
                                <!--console.log("#p" + pi + "t" + ti + "_prev_level_" + ri + ": " + data.prev_levels[pi][ti][ri]);-->
                                <!--console.log("#p" + pi + "t" + ti + "_curr_level_" + ri + ": " + data.curr_levels[pi][ti][ri]);-->
                                <!--console.log("#p" + pi + "t" + ti + "_history_" + ri + ": " + data.level_history[pi][ti][ri]);-->
                                $("#p" + pi + "t" + ti + "_prev_level_" + ri).html(data.prev_levels[pi][ti][ri]);
                                $("#p" + pi + "t" + ti + "_curr_level_" + ri).html(data.curr_levels[pi][ti][ri]);
                                if (data.level_history[pi][ti][ri]['levels'].length > 0) {
                                    no_history = false;
                                }
                            }
                            if (no_history) {
                                $("#p" + pi + "t" + ti + "_chart").hide();
                                continue;
                            }
                            ctx = $("#p" + pi + "t" + ti + "_chart");
                            x_lists = [];
                            y_lists = [];
                            ds_labels = data.ds_labels["p" + pi + "t" + ti];
                            for (var ri = 0; ri < num_rows; ++ri) {
                                x_lists.push(data.level_history[pi][ti][ri]['dates']);
                                y_lists.push(data.level_history[pi][ti][ri]['levels']);
                            }
                            drawLineChart(ctx, x_lists, y_lists, ds_labels);
                        }
                    }
                }
            });
        });
        $(function() {
            $(".btn").on("click", function() {
                num = $(this).val();
                comment = $("#p" + num + "_comment").val();
                $.ajax({
                    url: "{% url 'g3_update' %}",
                    type: "POST",
                    data: {"target_user_id": "{{ target_user_id }}", "idx": num, "comment": comment},
                    dataType: "json",
                    success: function(data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
{% endblock %}