{% extends "common/base.html" %}

{% block css %}
    <style>
        .positive { color:blue; }
        .negative { color:red; }
    </style>
{% endblock %}

{% block content %}

        <div class="page-header">
            <h3>플레이 리듬(Play Rhythm)</h3>
        </div>
        <div class="page-header">
            <h4>홀별 플레이 리듬</h4>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 col-xs-11 col-xs-offset-1">
                <canvas id="one-chart" height="240"></canvas>
            </div>
        </div>

    <div class="page-header">
            <h4>3홀별 플레이 리듬</h4>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <canvas id="two-chart" height="240"></canvas>
            </div>
        </div>

    <div class="page-header">
            <h4>9홀별 플레이 리듬</h4>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <canvas id="three-chart" height="240"></canvas>
            </div>
        </div>


        <div>
            <div class="page-header">

            <h3>최근 10 라운드 추이</h3>
                <h4>평균값: 최근 20 라운드 평균</h4>
            </div>
             <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-score" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-fairway_hit" height="240"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-gir" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-putt" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-putt_gir" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-up_and_down" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-bunker" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-sand_save" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-bounce_back" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-birdie" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-bogey" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-double_bogey_or_more" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-penalty" height="240"></canvas>
            </div>
            <div class="col-xs-6">
                <canvas id="chart-percentage-proximity" height="240"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <canvas id="chart-percentage-driving_distance" height="240"></canvas>
            </div>
        </div>
             <textarea style="display:none" id="avg_twenty">
            {{avg_twenty}}
        </textarea>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
    <script>
    $(document).ready(function(){
        if($("#avg_twenty")){
            var avg_twenty = jQuery.parseJSON($("#avg_twenty").val());
            canvas_avg_twenty(avg_twenty);

        }
    })

    $(function() {
        console.log("target_user_id: " + "{{ target_user_id }}");

        // Bar charts
        red_bg = "rgba(255, 99, 132, 0.2)";
        red_bd = "rgba(255, 99, 132, 1.0)";
        blue_bg = "rgba(54, 162, 235, 0.2)";
        blue_bd = "rgba(54, 162, 235, 1.0)";

        var ctx = $("#one-chart");
        var data = {
            labels: [
                ["1번"],
                ["2번"],
                ["3번"],
                ["4번"],
                ["5번"],
                ["6번"],
                ["7번"],
                ["8번"],
                ["9번"],
                ["10번"],
                ["11번"],
                ["12번"],
                ["13번"],
                ["14번"],
                ["15번"],
                ["16번"],
                ["17번"],
                ["18번"],
            ],
            datasets: [{
                label: "My Score",
                backgroundColor: red_bg,
                borderColor: red_bd,
                borderWidth: 1,
                pointRadius: 8,
                pointHoverRadius:10,
                data: {{part_one}}

        }]
        };
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        min: -1,
                        max: 3,
                        stepSize: 1
                    }
                }]
            }
        };
        new Chart(ctx, {type: "line", data: data, options: options});
8
         var ctx = $("#two-chart");
        var data = {
            labels: [
                ["1,2,3번 평균"],
                ["4,5,6번 평균"],
                ["7,8,9번 평균"],
                ["10,11,12번 평균"],
                ["13,14,15번 평균"],
                ["16,17,18번 평균"],
            ],
            datasets: [{
                label: "My Score",
                backgroundColor: red_bg,
                borderColor: red_bd,
                pointRadius: 8,
                pointHoverRadius:10,
                borderWidth: 1,
                data: {{part_two}}

        }]
        };
        var options = {
            scales: {
                xAxes:[{
                    ticks:{
                        autoSkip:false
                    }

                }],

                yAxes: [{
                    ticks: {
                        min: -1,
                        max: 3,
                        stepSize: 1
                    }
                }]
            }
        };
        new Chart(ctx, {type: "line", data: data, options: options});

         var ctx = $("#three-chart");
        var data = {
            labels: [
                ["전반 9홀 평균"],
                ["후반 9홀 평균"],
            ],
            datasets: [{
                label: "My Score",
                backgroundColor: red_bg,
                borderColor: red_bd,
                borderWidth: 1,
                pointRadius: 6,
                data: {{part_three}}

        }]
        };
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        min: -1,
                        max: 3,
                        stepSize: 1
                    }
                }]
            }
        };
        new Chart(ctx, {type: "bar", data: data, options: options});
    })

    function save_comment_clicked() {
        var comment = $("#comment").val();
        $.ajax({
            url: "{% url 'g1_update' %}",
            type: "POST",
            data: {"target_user_id": "{{ target_user_id }}", "comment": comment},
            dataType: "json",
            success: function(data) {
                console.log(data);
            }
        });
    }

     function canvas_avg_twenty(avg_twenty){
        var keys = Object.keys(avg_twenty["avg_twenty"]);
        <!--['score','fairway_hit','gir','putt','putt_gir',-->
        <!--'up_and_down','bunker','sand_save','proximity','birdie',-->
        <!--'bogey','double_bogey_or_more','bounce_back','penalty','driving_distance']-->

        var trans=['스코어 (Score)','페어웨이 % (Driving Accuracy)',
        '그린적중률 % (GIR %)',,
        'GIR 평균 퍼팅수 (Putting Average)',
        '스크램블링 % (Scrambling)',
        '벙커 (Greenside bunker)',
        '벙커 스크램블링 % (Scrambling from Sand)',
        '홀 접근 거리 (Proximity: meter)',
        '버디이하 홀수 (Birdies/Round)',
        '보기 홀수 (Bogey/Round)',
        '더블보기이상 홀수(Double bogey)',
        '회복률 %(Bounce Back)',
        '벌타 (Penalty strokes/Round)',
        '드라이빙 거리(Driving Distance: meter)'
        ];
        var power={score:'스코어 (Score)',putt:'퍼팅수 (Putts/Round)',sand_save:'벙커 스크램블링 % (Scrambling from Sand)',
        gir:'그린적중률 % (GIR %)',fairway_hit:'페어웨이 % (Driving Accuracy)',proximity:'홀 접근 거리 (Proximity: meter)',
        double_bogey_or_more:'더블보기이상 홀수(Double bogey)',bounce_back:'회복률 %(Bounce Back)',bogey:'보기 홀수 (Bogey/Round)',
        penalty:'벌타 (Penalty strokes/Round)',score:'스코어 (Score)',bunker:'벙커 (Greenside bunker)',up_and_down:'스크램블링 % (Scrambling)',
        driving_distance:'드라이빙 거리(Driving Distance: meter)',putt_gir:'GIR 평균 퍼팅수 (Putting Average)',birdie:'버디이하 홀수 (Birdies/Round)'}
        var avg = avg_twenty["avg_twenty"]
        var labels = [];
        for(var i=1; i<avg_twenty["size"]+1; i++){
            var label = [];
            label[0] = i;
            labels[i-1] = label;
        }
        for(var key in keys){
            red_bg = "rgba(255, 99, 132, 0.2)";
            red_bd = "rgba(255, 99, 132, 1.0)";
            blue_bg = "rgba(54, 162, 235, 0.2)";
            blue_bd = "rgba(54, 162, 235, 1.0)";

            var ctx = $("#chart-percentage-"+keys[key]);
            console.log(avg_twenty[keys[key]+"_twenty"]);
            var data = {
                labels: labels,
                datasets: [{
                    label: "My Score",
                    backgroundColor: red_bg,
                    borderColor: red_bd,
                    borderWidth: 1,
                    pointRadius: 8,
                    pointHoverRadius: 10,

                    fill: false,
                    data: avg_twenty[keys[key]+"_twenty"]
                }]
            };
            var options = {
                responsive: true,
                title: {
                display: true,
                text: power[keys[key]]
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                },
                annotation: {
                    annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value : avg[keys[key]],
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1,
                    label: {
                        enabled: false,
                        content: 'Average'
                    }
                    }]
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: avg[keys[key]]-10,
                            max: avg[keys[key]]+10,
                            stepSize: 10

                        }
                    }]
                }
            };
            if(keys[key]=='putt_gir'){
                options.scales.yAxes[0].ticks.min=avg[keys[key]]-1;
                options.scales.yAxes[0].ticks.max=avg[keys[key]]+1;
                options.scales.yAxes[0].ticks.stepSize=2;
            }
            if(keys[key]=='bounce_back'||keys[key]=='fairway_hit'||keys[key]=='up_and_down'||keys[key]=='sand_save'
            ||keys[key]=='gir'){
                options.scales.yAxes[0].ticks.min=avg[keys[key]]-20;
                options.scales.yAxes[0].ticks.max=avg[keys[key]]+20;
                options.scales.yAxes[0].ticks.stepSize=10;
            }


        new Chart(ctx, {type: "line", data: data, options: options});

        }
    }
    </script>
{% endblock %}
