{% extends "common/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-xs-offset-0">
        <br>
        <div class="well">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G1</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Play STATs: 골프 통계</p>
                    <li>실시간 Mobile 스코어 입력</li>
                    <li>라운드 별 주요 경기력 데이터</li>
                    <li>주요 경기력 누정통계 데이터 - 최근 20라운드 평균 vs. Best 10 라운드 평균</li>
                    <li>USGA 기준 핸디캡</li>

                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G2</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Motion Analysis: 기술 분석</p>
                    <li>검증된 체크포인트 기반 스윙,숏게임,퍼팅 기술 분석</li>
                    <li>연습 드릴</li>
                    <li>동영상 업로드</li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G3</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Performance Test: 연습 측정</p>
                    <li>샷,숏게임,퍼팅게임 연습결과 측정평가 - 7가지 퍼포먼스 모의 실전 테스트</li>
                    <li>Practice like Real : 연습을 실제처럼!</li>
                    <li>Enjoy your Practice :  연습을 즐겁게!</li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G4</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Mental Power Test: 멘탈 측정</p>
                    <li>과학적인 6가지 다차원 골프멘탈/경기운영 측정평가</li>
                    <li>1% 멘탈이 99%?</li>
                    <li>The 'Mental Golfer's Takes It All.</li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>My Page</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Profile & Core Strategies: 개인 프로파일 및 핵심 전략</p>
                    <li>종합적인 다차원 S.W.O.T. 분석</li>
                    <li>구체적이고 정확한 피드백</li>
                    <li>체계적인 맞춤형(Tailored Systematic) 훈련</li>
                    <p>
                    <ul class="list-group">
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G1 통계 Profile
                            </div>
                            <div class="col-xs-9">
                                다차원 경기력 통계 데이터 분석 및 진단 / 플레이 리듬 / 최근 퍼포먼스 추이

                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G2 기술 Profile
                            </div>
                            <div class="col-xs-9">
                                기술 분석 및 진단(교정 내용) / 연습 드릴 / 동영상
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G3 연습 Profile
                            </div>
                            <div class="col-xs-9">
                                연습 측정 결과 분석 및 진단 / 연습 효과 피드백 / 최근 퍼포먼스 변화 추이
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G4 멘탈 Profile
                            </div>
                            <div class="col-xs-9">
                                골프멘탈 측정 결과 분석 및 진단 / 최초 측정과 최근 측정의 멘탈 차이 비교
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                프리샷 루틴
                            </div>
                            <div class="col-xs-9">
                                골프 프리샷 루틴 모형(GPRM)을 이용한 개인 맞춤형 프리샷 루틴 제작/구축
                                <br>
                                &#9655; GPRM: Golf Pre-shot Routine Model(김경백, 2017 - 한국체육학회)
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                골프일지
                            </div>
                            <div class="col-xs-9">
                                목표, 계획, 전략의 실행과정 기록 / 모니터링(추적 관찰) / 관리
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                목표설정
                            </div>
                            <div class="col-xs-9">
                                다차원 데이터 기반 개인 맞춤형 목표, 계획, 전략 수립 - 장기, 단기, 일일 목표설정
                            </div>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block js %}
{%if alertSignup%}
<script>
</script>
{%endif%}
{% endblock %}