{% extends "common/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-xs-offset-0">
        <br>
        <div class="well">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G1</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Play Statistics: 핸디캡 및 경기력 통계 분석</p>
                    <p>USGA/R&A 기준 핸디캡 및 골프 경기력 주요항목별 통계 분석 결과 제공</p>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G2</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Motion Analysis: 기술 분석</p>
                    <p>골프 역사 및 현대 과학 기반 샷, 숏게임, 퍼팅 기술 분석</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G3</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Performance Test: 수행 테스트</p>
                    <p>샷, 숏게임, 퍼팅게임 연습결과 세부항목별 측정평가</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>G4</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Mental Power Test: 멘탈 파워 테스트</p>
                    <p>최상수행(peak performance)을 위한 정신기술(mental skill) 수준 세부항목별 측정평가</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <h4>My Page</h4>
                </div>
                <div class="col-sm-10 col-xs-12">
                    <p>Profile & Training Program: 개인 프로파일 및 훈련 프로그램</p>
                    <p>
                        테스트 결과(세부항목별 수행 수준) S.W.A.T. 분석 및 체계적인 맞춤형 훈련
                    <ul class="list-group">
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G1 Profile
                            </div>
                            <div class="col-xs-9">
                                경기력 세부항목별 통계 정밀분석 결과 및 맞춤형 훈련 내용/방법
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G2 Profile
                            </div>
                            <div class="col-xs-9">
                                요인별 기술 분석 결과 및 맞춤형 훈련 내용/방법
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G3 Profile
                            </div>
                            <div class="col-xs-9">
                                요인별 수행 정밀(세부항목별) 측정평가 결과 및 맞춤형 훈련 내용/방법
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                G4 Profile
                            </div>
                            <div class="col-xs-9">
                                골프 멘탈 세부항목별 측정평가 결과 및 맞춤형 훈련 내용/방법
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                Pre-Shot Routine
                            </div>
                            <div class="col-xs-9">
                                골프 프리샷 루틴 모형(GPRM)을 이용한 개인 맞춤형 프리샷 루틴 제작/구축
                                <br>
                                &#9655; GPRM: Golf Pre-shot Routine Model(김경백, 2017 - 한국체육학회)
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                Player Diary
                            </div>
                            <div class="col-xs-9">
                                골프 일지
                            </div>
                        </li>
                        <li class="list-group-item col-xs-12">
                            <div class="col-xs-3">
                                Goal Setting
                            </div>
                            <div class="col-xs-9">
                                장기, 단기 및 일일목표 설정표
                            </div>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

{% block js %}
{% endblock %}